@media (min-width: 768px) {
    [role="main"] {
        padding-top: 20px;
        /* Space for fixed navbar */
    }
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    #map {
        height: 200px;
        z-index: 1;
    }
    #sidebar {
        width: 100%;
        top: 40px;
        /* Behind the navbar */
        padding: 20px 0 0;
        /*transition: all 200ms linear;*/
    }
    .nav-open,
    .sidebar-open {
        left: -100%;
        /* display: none;*/
        transition: all 300ms linear;
    }
    .nav-close,
    .sidebar-close {
        left: 0;
        /*display: block;*/
    }
    #main {
        position: relative;
        top: 50px;
        /*transition: all 500ms linear;*/
    }
    .main-no {
        left: 0;
        width: 100%;
    }
    .main-yes {
        left: 0;
        width: 100%;
        transition: all 300ms linear;
    }
    .btn-close {
        display: inline-block;
    }
}
